.spin-container {
  position: relative;
}

.spin-container > *:first-child,
.spin-container > .middle,
.spin-container > *:last-child {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transform-style: preserve-3d;
  transform-origin: center center;
}

.spin-container > *:first-child {
  animation: spin-front 8s linear infinite;
  z-index: 1;
  backface-visibility: hidden;
}

.spin-container > .middle {
  animation: spin-middle 8s linear infinite;
}

.spin-container > *:last-child {
  animation: spin-back 8s linear infinite;
  animation-delay: -4s;
  backface-visibility: hidden;
}

@keyframes spin-front {
  0% {
    transform: rotateY(0deg) translateZ(10px);
  }
  50% {
    transform: rotateY(180deg) translateZ(10px);
  }
  100% {
    transform: rotateY(360deg) translateZ(10px);
  }
}

@keyframes spin-middle {
  0% {
    transform: rotateY(0deg) translateZ(5px);
  }
  50% {
    transform: rotateY(180deg) translateZ(5px);
  }
  100% {
    transform: rotateY(360deg) translateZ(5px);
  }
}

@keyframes spin-back {
  0% {
    visibility: visible;
    transform: rotateY(0deg) translateZ(10px);
  }
  50% {
    visibility: visible;
    transform: rotateY(180deg) translateZ(10px);
  }
  100% {
    visibility: visible;
    transform: rotateY(360deg) translateZ(10px);
  }
}