.countdown {
  /*line-height: 1.75em;*/
  background: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: .3em;
  border:1px solid white;
  border-left:0;
  border-right:0;
  gap: .5em;
}

.digit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
}

.digit {
  position:relative;
  margin: 0.1rem;
}

.digit .wrap, .digit .placeholder {
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), inset 0 -5px 10px rgba(0, 0, 0, 0.1);
  margin:0;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding: .3em;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  display:flex;
}

.digit .wrap{
  position: absolute;
}

.digit .wrap.changed {
  animation: fade-out 130ms ease forwards;
  z-index:1
}

.digit .line {
  z-index:2;
  position:absolute;
  top:50%;
  border-top:1px solid black;
  opacity: .2;
  width: 100%;
}

.label {
  color:white;
  text-align: center;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  
  100% {
    transform: rotateX(90deg);
    opacity: 1;
  }
}
