.fade-in {
  opacity: 0;
  animation-name: fade-in-fx;
  animation-duration: 1.5s, 1s;
  animation-timing-function: ease-in ease-out, cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: both, both;
  animation-delay: calc(var(--fx-index) * 300ms);
}

.bounce-in {
  opacity: 0;
  animation-name: fade-in-fx, bounce;
  animation-duration: 1.5s, 1s;
  animation-timing-function: ease-in ease-out, cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: both, both;
  animation-delay: calc(var(--fx-index) * 300ms);
}

@keyframes fade-in-fx {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3vh);
  }
  100% {
    transform: translateY(0);
  }
}